#override("title")
SpringWind - 项目管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
<link href="#springUrl('/static/css/metroStyle.css')" rel="stylesheet">
<link href="#springUrl('/static/css/customer.css')" rel="stylesheet">
<style type="text/css">
.ztree * {
font-size:17px;
}
.ztree li {
line-height:23px;
}
</style>
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><a>Demo演示</a></li>
#end
#override("content")
<div class="panel panel-default col-lg-11" style="padding:0px;margin:20px 50px 80px 50px">
    <div class="panel-heading" style="height:45px;background:#337ab7">
	        <span class="pull-left" style="margin:0px 0px 2px 10px;color:#fff;font-size:20px">
	            	农产品维护
	        </span>
	        <div class="pull-right">
	        	<div style="margin:0px 20px;float:left">
		        	<span class="glyphicon glyphicon-refresh" onClick="reFresh()" title="刷新" style="font-size:20px"></span>
		        </div>
			</div>
    </div>
    <div class="panel-body" style="height:100%;border-top:2px solid #00FF7F">
       <div id="context" data-toggle="context" data-target="#context-menu">
   		<ul id="zTreeManager" class="ztree" style="padding:10px 0px 20px 20px"></ul>
	   </div>
    </div>
</div>

#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script src="#springUrl('/static/js/jquery.ztree.all.min.js')"></script>
<script src="#springUrl('/static/js/bootstrap-contextmenu.js')"></script>
<script src="#springUrl('/static/js/prettify.js')"></script>
<script type="text/javascript">
/* $("#editCategoey").hide(); */
var zNodes = [{name:"农产品",open:true,children:[
					{name:"生鲜", open:true, children:[
                       {name:"鱼"}, {name:"虾"}]},
                    {name:"非生鲜", open:true, children:[
                       {name:"白菜"}, {name:"胡萝卜"}]}
                                              ]}
              ];
	var setting = {
        edit: {
    		drag: {
    			isCopy: false,
    			isMove: true
    		},
    			enable: true,
    			showRemoveBtn: false,
    			showRenameBtn: false
    		},
        view: {
            selectedMulti: true
        }
    };
    var resourcesTree=$.fn.zTree.init($("#zTreeManager"), setting,zNodes);
</script>
#end
#extends("/common/framework.html")
