<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
	<link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
	<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
	<link href="#springUrl('/static/css/bootstrap-treeview.min.css')" rel="stylesheet">
	<link href="#springUrl('/static/css/bootstrap-datetimepicker.css')" rel="stylesheet">
</head>
<body class="white-bg">
<div class="ibox-content" style="width: 430px;">
   <form id="myForm" class="form-horizontal">
   	   <input type="hidden" id="hiddenUpdate" class="form-control" name="update" value="$!{update}">
       <input type="hidden" id="projectID" class="form-control" name="projectID" value="$!{projectDo.projectID}">
       <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">项目名</label>
           <div class="col-sm-10 pull-right">
           		<input type="text" class="form-control" name="projectName" value="$!{projectDo.projectName}" data-rule="项目名:required">
           </div>
       </div>
	   <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">项目描述</label>
           <div class="col-sm-10 pull-right">
           		<input type="text" class="form-control" name="projectDescription" value="$!{projectDo.projectDescription}" data-rule="项目描述:required">
           </div>
	   </div>
        <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">执行周期</label>
           <div class="col-sm-1 pull-right" style="padding:0px;margin-right: 15px">
           		 <select id="selectExecutePeriod" class="form-control">
				      <option value="天">天</option>
				      <option value="时">时</option>
				      <option value="分">分</option>
				      <option selected value="秒">秒</option>
			     </select>
           </div>
           <div class="pull-right" style="padding:0px;width:134px">
           		<input type="text" class="form-control" id="ExecutePeriod" name="ExecutePeriod" value="$!{projectDo.ExecutePeriod}" data-rule="执行周期:required;integer" data-rule-integer="[/^[0-9]*[1-9][0-9]*$/,'请输入数字']">
           </div>
	   </div>
        <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">单一任务最大执行时间</label>
           <div class="col-sm-1 pull-right" style="padding:0px;margin-right: 15px">
           		 <select id="selectMaxExecutingTime" class="form-control">
				      <option value="天">天</option>
				      <option value="时">时</option>
				      <option value="分">分</option>
				      <option selected value="秒">秒</option>
			     </select>
           </div>
           <div class="pull-right" style="padding:0px;width:134px">
           		<input type="text" class="form-control" id="maxExecutingTime" name="maxExecutingTime" value="$!{projectDo.maxExecutingTime}" data-rule="单一任务最大执行时间:required;integer" data-rule-integer="[/^[0-9]*[1-9][0-9]*$/,'请输入数字']">
           </div>
	   </div>
       <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">开始时间</label>
		     <div class="input-append date form_datetime col-sm-10 pull-right">
			    <input type="text" id="startTime" class="form-control" name="startTime1" value="$!{projectDo.startTime1}" data-rule="开始日期:required" readonly>
			    <span class="add-on"><i class="icon-remove"></i></span>
			    <span class="add-on"><i class="icon-calendar"></i></span>
			</div> 
	   </div>
       <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">结束时间</label>
           <div class="input-append date form_datetime col-sm-10 pull-right" id="endTest">
			    <input type="text" id="endedTime" class="form-control pull-left" name="endedTime1" value="$!{projectDo.endedTime1}" data-rule="结束日期:required" readonly>
			    <span class="add-on"><i class="icon-remove"></i></span>
			    <span class="add-on"><i class="icon-calendar"></i></span>
			    <span id="endTest1" class="msg-box n-right pull-left" style=""><span role="alert" class="msg-wrap n-error"><span class="n-icon"></span><span class="n-msg">结束日期必须大于开始日期</span></span></span>
			</div>
	   </div>
	   <div class="form-group"><label class="col-sm-2 control-label" style="padding-top:8px">项目优先级</label>
           <div class="col-sm-10 pull-right">
           		<input type="text" class="form-control" name="projectPriority" value="$!{projectDo.projectPriority}" data-rule="项目优先级:required;integer" data-rule-integer="[/^[0-9]*[0-9][0-9]*$/,'请输入数字']">
           </div>
       </div>
       <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" id="submitStyle" type="submit">#if($!{projectDo})修 改#else提 交#end</button>
            </div>
       </div>
    </form>
</div>
<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-0.8.1/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/js/bootstrap-treeview.min.js')"></script>
<script src="#springUrl('/static/js/bootstrap-datetimepicker.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
var flag=true;
$("#startTime").change(function(){
	$("#startTime~span[for='startTime']").html("");
	var assigntime = $("#startTime").val();
    var deadlinetime = $("#endedTime").val();
    var reg = new RegExp('-','g');
    assigntime = assigntime.replace(reg,'/');//正则替换
    deadlinetime = deadlinetime.replace(reg,'/');
    assigntime = new Date(parseInt(Date.parse(assigntime),10));
    deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
    if(assigntime>deadlinetime){
    	$("#endTest1").show();
        flag=false;
    }else{
    	$("#endTest1").hide();
        flag=true;
    }
});
$("#endedTime").change(function(){
	$("#endedTime~span[for='endedTime']").html("");
	var assigntime = $("#startTime").val();
    var deadlinetime = $("#endedTime").val();
    var reg = new RegExp('-','g');
    assigntime = assigntime.replace(reg,'/');//正则替换
    deadlinetime = deadlinetime.replace(reg,'/');
    assigntime = new Date(parseInt(Date.parse(assigntime),10));
    deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
    if(assigntime>deadlinetime){
    	$("#endTest1").show();
        flag=false;
    }else{
    	$("#endTest1").hide();
        flag=true;
    }
});
$("#ExecutePeriod").focusout(function() {
	setTimeout(function(){
		$("#ExecutePeriod~span[for='ExecutePeriod'] span[role='alert']").css("margin-left","69px");
	},10);
});
$("#submitStyle").focusout(function() {
	setTimeout(function(){
		$("#ExecutePeriod~span[for='ExecutePeriod'] span[role='alert']").css("margin-left","69px");
		$("#maxExecutingTime~span[for='maxExecutingTime'] span[role='alert']").css("margin-left","69px");
		$("#endedTime~span[for='endedTime']").addClass("pull-left");
	},10);
});
$("#maxExecutingTime").focusout(function() {
	setTimeout(function(){
		$("#maxExecutingTime~span[for='maxExecutingTime'] span[role='alert']").css("margin-left","69px");
	},10);
});
$("#endedTime").focusout(function() {
	setTimeout(function(){
		$("#endedTime~span[for='endedTime']").addClass("pull-left");
	},50);
});
$("#endTest1").hide();
$(".form_datetime").datetimepicker({
    format: "yyyy-mm-dd hh:ii:ss",
    autoclose: 1
});
$("#myForm").validator({
	    valid: function(form){
	        var me = this;
	        var selectExecutePeriod=$("#selectExecutePeriod").val();
	        var selectMaxExecutingTime=$("#selectMaxExecutingTime").val();
	        var ExecutePeriod=$("#ExecutePeriod").val();
	        var maxExecutingTime=$("#maxExecutingTime").val();
	        if(selectExecutePeriod=="天"){
	        	ExecutePeriod*=86400;
	        }else if(selectExecutePeriod=="时"){
	        	ExecutePeriod*=3600;
	        }else if(selectExecutePeriod=="分"){
	        	ExecutePeriod*=60;
	        }
	        if(selectMaxExecutingTime=="天"){
	        	maxExecutingTime*=86400;
	        }else if(selectMaxExecutingTime=="时"){
	        	maxExecutingTime*=3600;
	        }else if(selectMaxExecutingTime=="分"){
	        	maxExecutingTime*=60;
	        }
	        $("#ExecutePeriod").val(ExecutePeriod);
	        $("#maxExecutingTime").val(maxExecutingTime);
	        // 提交表单之前，hold住表单，防止重复提交
	        me.holdSubmit();
	        if(flag){
		        $.ajax({
		        	url: "#springUrl('/project/editProject')",
		            data: $(form).serialize(),
		            type: "POST",
		            success: function(data){
		            	var d = JSON.parse(data);
		            	
		                if(d.success && d.data){
		                	window.parent.location.reload();
		                	//当你在iframe页面关闭自身时
		                	//var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		                	//parent.layer.close(index); //再执行关闭   
		                } else {
		                	//失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
		                    me.holdSubmit(false);
		                }
		            }
		        });
	        }
	    }
	});	


</script>
</body>
</html>
