#override("title")
SpringWind - 项目管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
<link href="#springUrl('/static/css/bootstrap-treeview.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/bootstrap-datetimepicker.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><a>项目管理</a></li><li class="active"><a>项目监控</a></li>
#end
#override("projectControl")
<div style="border-bottom:1px solid #ddd;padding:10px 20px 5px 20px">
	<div style="padding-bottom:10px">
	  <h3 class="col-sm-11 pull-left">项目监控</h3>
	  	<span class="badge">42</span>
	</div>
</div>
#end
#override("content")
<div style="padding:10px 80px">
<form class="form-inline" role="form" id="myForm" style="margin-bottom:30px">
<input type="hidden" id="AwaitTaskNumber" name="awaitTaskNumber" value="${taskInfoDO.awaitTaskNumber}">
<input type="hidden" id="ExecutedTaskNumber" name="executedTaskNumber" value="${taskInfoDO.executedTaskNumber}">
<input type="hidden" id="ExecutingTaskNumber" name="executingTaskNumber" value="${taskInfoDO.executingTaskNumber}">
<input type="hidden" id="projectID" name="projectID" value="${taskInfoDO.projectID}">
  <div class="form-group" style="margin-right:140px">
    <label class="control-label" style="padding-top:8px">开始时间</label>
    <div class="input-append date form_datetime pull-right">
			    <input type="text" id="distributedTime" class="form-control" name="distributedTime1" value="" data-rule="开始日期:required" readonly>
			    <span class="add-on"><i class="icon-remove"></i></span>
			    <span class="add-on"><i class="icon-calendar"></i></span>
	</div>
  </div>
  <div class="form-group" style="margin-right:170px">
    <label class="control-label" style="padding-top:8px">结束时间</label>
    <div class="input-append date form_datetime pull-right">
			    <input type="text" id="finishedTime" class="form-control" name="finishedTime1" value="" data-rule="结束日期:required" readonly>
			    <span class="add-on"><i class="icon-remove"></i></span>
			    <span class="add-on"><i class="icon-calendar"></i></span>
			    <span id="endTest1" class="msg-box n-right" style="display:inline-block"><span role="alert" class="msg-wrap n-error"><span class="n-icon"></span><span class="n-msg">结束日期必须大于开始日期</span></span></span>
	</div>
  </div>
  <button type="submit" class="btn btn-default">监控</button>
</form>
  <div class="panel panel-default">
	    <div class="panel-heading" style="padding:8px 15px 1px 8px">
	    	<h4>项目基本信息</h4>
	    </div>
	    <div class="row panel-body">
	    	<div class="col-sm-3">
	    		<h5>项目名称:</h5>
	    		<h5>每月监测数据</h5>
	    	</div>
	    	<div class="col-sm-3">
	    		<h5>项目说明:</h5>
	    		<h5>对电商平台每月数据进行抓取</h5>
	    	</div>
	    	<div class="col-sm-3">
	    		<h5>总任务数量:</h5>
	    		<h5 id="AllExecutTaskNum">${taskInfoDO.allExecutTaskNum}</h5>
	    	</div>
	    	<div class="col-sm-3">
	    		<h5>已完成任务数量:</h5>
	    		<h5 id="allFinishedNum"></h5>
	    	</div>
	    </div>
  </div>
  <div class="panel panel-default">
	    <div class="panel-heading" style="padding:8px 15px 1px 8px">
	    	<h4>任务执行总体情况</h4>
	    </div>
	    <div class="panel-body">
	    	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    		<div id="ecchartsMain" style="width: 100%;height:400px;"></div>
	    </div>
  </div>
  <div class="panel panel-default">
	    <div class="panel-heading" style="padding:8px 15px 1px 8px">
	    	<h4>执行人员情况</h4>
	    </div>
	    <div class="panel-body">
	    	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    		<div id="pillarMain" style="width: 100%;height:400px;"></div>
	    </div>
  </div>
</div>

#end
#override("js")
<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-0.8.1/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script src="#springUrl('/static/js/plugins/echarts/echarts.js')"></script>
<script src="#springUrl('/static/js/bootstrap-treeview.min.js')"></script>
<script src="#springUrl('/static/js/bootstrap-datetimepicker.js')"></script>
<script type="text/javascript">
$(".form_datetime").datetimepicker({
    format: "yyyy-mm-dd hh:ii:ss",
    autoclose: 1
});
var flag=false;
$("#endTest1").hide();
$("#distributedTime").change(function(){
	$("#distributedTime~span[for='distributedTime']").html("");
	var assigntime = $("#distributedTime").val();
    var deadlinetime = $("#finishedTime").val();
    var reg = new RegExp('-','g');
    assigntime = assigntime.replace(reg,'/');//正则替换
    deadlinetime = deadlinetime.replace(reg,'/');
    assigntime = new Date(parseInt(Date.parse(assigntime),10));
    deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
    if(assigntime>deadlinetime){
    	$("#endTest1").show();
        flag=false;
    }else{
    	$("#endTest1").hide();
        flag=true;
    }
});
$("#finishedTime").change(function(){
	$("#finishedTime~span[for='finishedTime']").html("");
	var assigntime = $("#distributedTime").val();
    var deadlinetime = $("#finishedTime").val();
    var reg = new RegExp('-','g');
    assigntime = assigntime.replace(reg,'/');//正则替换
    deadlinetime = deadlinetime.replace(reg,'/');
    assigntime = new Date(parseInt(Date.parse(assigntime),10));
    deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
    if(assigntime>deadlinetime){
    	$("#endTest1").show();
        flag=false;
    }else{
    	$("#endTest1").hide();
        flag=true;
    }
});
//基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('ecchartsMain'));
var pillarChart = echarts.init(document.getElementById('pillarMain'));
var AwaitTaskNumber=$("#AwaitTaskNumber").val();
var ExecutedTaskNumber=$("#ExecutedTaskNumber").val();
var ExecutingTaskNumber=$("#ExecutingTaskNumber").val();
var projectID=$("#projectID").val();
$("#myForm").validator({
    valid: function(form){
        var me = this;
        // 提交表单之前，hold住表单，防止重复提交
        me.holdSubmit();
        if(flag){
	        $.ajax({
	        	url: "#springUrl('/taskInfo/projectSubmitControl')",
	            data: $(form).serialize(),
	            type: "POST",
	            success: function(data){
	            	/* alert(data.awaitTaskNumber);
	            	alert(data.executedTaskNumber);
	            	alert(data.executingTaskNumber);
	            	alert(data.allExecutTaskNum);  */
	            	AwaitTaskNumber=data.awaitTaskNumber;
	            	ExecutedTaskNumber=data.executedTaskNumber;
	            	ExecutingTaskNumber=data.executingTaskNumber;
	            	AllExecutTaskNum=data.allExecutTaskNum;
	            	$("#AllExecutTaskNum").html(AllExecutTaskNum);
	            	//重新刷新饼图
	            	myChart.setOption({
	            		title: {
	            			 text: '任务执行情况',
	            			 subtext: '',
	            			 x: 'center',
	            			 y:'350px'
	            			 		},
	            		legend: {
	            	    	orient: 'vertical',
	            	    	type: 'legendToggleSelect',
	            	    	x: '0px',
	            	    	y: '0px',
	            	    	data: ['待执行任务数', '已执行任务数', '正在执行任务数']
	            	    		},
	            	    toolbox:{
	            	    	show:true,
	            	    	orient:'horizontal',
	            	    	right:20,
	            	    	itemGap:15,
	            	    	feature: {
	            	    		dataView:{
	            	    			show:true
	            	    		},
	            	    		restore:{
	            	    			show:true
	            	    		},
	            	    		saveAsImage:{
	            	    			show:true
	            	    		}
	            	    	}
	            	    },
	            	    series : [
	            	        {
	            	            name: '访问来源',
	            	            type: 'pie',
	            	            selectedMode: 'single',
	            	            radius: '55%',
	            	            itemStyle: {
	            	                normal:{
	            		                  label:{
	            		                  show:true,
	            		                  formatter: '{b} : {c} \n ({d}%)'
	            		                  },
	            		                  labelLine:{
	            		                  show:true
	            		                  }
	            	                  }
	            	        		},
	            	            data:[
	            	                {value:AwaitTaskNumber, name:'待执行任务数'},
	            	                {value:ExecutedTaskNumber, name:'已执行任务数'},
	            	                {value:ExecutingTaskNumber, name:'正在执行任务数'}
	            	            ]
	            	        }
	            	    ]
	            	});
	            	/* $("#AwaitTaskNumber").val(data.awaitTaskNumber);
	            	$("#ExecutedTaskNumber").val(data.executedTaskNumber);
	            	$("#ExecutingTaskNumber").val(data.executingTaskNumber);
	            	$("#AllExecutTaskNumr").val(data.allExecutTaskNum); */
	            	me.holdSubmit(false);
	            }
	        });
	        //刷新柱形图
	        $.ajax({
	        	url: "#springUrl('/taskInfo/projectUserTaskPillar')",
	            data: $(form).serialize(),
	            type: "POST",
	            success: function(data){
	            	if(data.length>0){
	            		var userNames=[];
	            		var userTaskNum=[];
	            		var allFinishedNum=0;
	            		for(var i=0;i<data.length;i++){
	            			userNames[i]=data[i].userName;
	            			userTaskNum[i]=data[i].userTaskNum;
	            			allFinishedNum+=userTaskNum[i];
	            		}
	            		$("#allFinishedNum").html(allFinishedNum);
	            		pillarChart.setOption({
	            			title: {
	            		        text: '完成的任务数量图'
	            		    },
	            			tooltip : {
	            		        trigger: 'axis',
	            		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
	            		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
	            		        }
	            		    },
	            		    legend: {
	            		        data: ['完成的任务数量']
	            		    },
	            		    grid: {
	            		        left: '10%',
	            		        right: '11%',
	            		        bottom: '10%',
	            		        containLabel: true
	            		    },
	            		    xAxis:  {
	            		        type: 'value'
	            		    },
	            		    yAxis: {
	            		        type: 'category',
	            		        data: userNames
	            		    },
	            		    series: [
	            		        {
	            		            name: '完成的任务数量',
	            		            type: 'bar',
	            		            label: {
	            		                normal: {
	            		                    show: true,
	            		                    position: 'insideRight'
	            		                }
	            		            },
	            		            data: userTaskNum
	            		        }
	            		    ]
	            		});
	            	}
	            }
	        }); 
        }
    }
});

myChart.setOption({
	title: {
		 text: '任务执行情况',
		 subtext: '',
		 x: 'center',
		 y:'350px'
		 		},
	legend: {
    	orient: 'vertical',
    	type: 'legendToggleSelect',
    	x: '0px',
    	y: '0px',
    	data: ['待执行任务数', '已执行任务数', '正在执行任务数']
    		},
    toolbox:{
    	show:true,
    	orient:'horizontal',
    	right:20,
    	itemGap:15,
    	feature: {
    		dataView:{
    			show:true
    		},
    		restore:{
    			show:true
    		},
    		saveAsImage:{
    			show:true
    		}
    	}
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            selectedMode: 'single',
            radius: '55%',
            itemStyle: {
                normal:{
	                  label:{
	                  show:true,
	                  formatter: '{b} : {c} \n ({d}%)'
	                  },
	                  labelLine:{
	                  show:true
	                  }
                  }
        		},
            data:[
                {value:AwaitTaskNumber, name:'待执行任务数'},
                {value:ExecutedTaskNumber, name:'已执行任务数'},
                {value:ExecutingTaskNumber, name:'正在执行任务数'}
            ]
        }
    ]
});
$.ajax({
	url: "#springUrl('/taskInfo/projectUserTask')",
    data: "projectID="+projectID,
    type: "POST",
    success: function(data){
    	if(data.length>0){
    		var userNames=[];
    		var userTaskNum=[];
    		var allFinishedNum=0;
    		for(var i=0;i<data.length;i++){
    			userNames[i]=data[i].userName;
    			userTaskNum[i]=data[i].userTaskNum;
    			allFinishedNum+=userTaskNum[i];
    		}
    		$("#allFinishedNum").html(allFinishedNum);
    		pillarChart.setOption({
    			title: {
    		        text: '完成的任务数量图'
    		    },
    			tooltip : {
    		        trigger: 'axis',
    		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    		        }
    		    },
    		    legend: {
    		        data: ['完成的任务数量']
    		    },
    		    grid: {
    		        left: '10%',
    		        right: '11%',
    		        bottom: '10%',
    		        containLabel: true
    		    },
    		    xAxis:  {
    		        type: 'value'
    		    },
    		    yAxis: {
    		        type: 'category',
    		        data: userNames
    		    },
    		    series: [
    		        {
    		            name: '完成的任务数量',
    		            type: 'bar',
    		            label: {
    		                normal: {
    		                    show: true,
    		                    position: 'insideRight'
    		                }
    		            },
    		            data: userTaskNum
    		        }
    		    ]
    		});
    	}
    }
}); 
</script>
#end
#extends("/common/framework.html")
