#override("title")
SpringWind - 农产品管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><strong>农产品管理</strong></li>
#end
#override("content")
<div class="row">
	<div class="ibox-content text-right form-inline" style="background: #F3F3F4;">
	<div class="input-group">			
			<span class="input-group-cbx">
				<input name="unchecked" id="unchecked" type="checkbox" value="0" checked="checked" onclick="selectCheck()">
				<Strong>未复核</Strong>
			</span>
		</div>
		&nbsp;&nbsp;
		<div class="input-group">			
			<span class="input-group-cbx">
				<input name="checked" id="checked" type="checkbox" value="1" checked="checked" onclick="selectCheck()">
				<Strong>已复核</Strong>
			</span>
			<span>&nbsp;
			</span>
		</div>
		<div class="input-group" style="padding-right:30px;padding-left:30px">			
			<select id="select1" name="select1" class="form-control">
		      <option value="请选择">请选择</option>
		    </select>
		</div>
		<div class="input-group" style="padding-right:30px">			
			<select id="select2" name="select2" class="form-control">
		      <option value="请选择">请选择</option>
		    </select>
		</div>
		<div class="input-group" style="padding-right:30px">			
			<select id="select3" name="select3" class="form-control">
		      <option value="请选择">请选择</option>
		    </select>
		</div>
		<div class="input-group" style="padding-right:260px">			
			<select id="select4" name="select4" class="form-control">
		      <option value="请选择">请选择</option>
		    </select>
		</div>
		
		<div class="input-group">
			<input type="text" id="word" name="word" class="form-control">
			<span class="input-group-btn">
				<button type="button" onClick="Search()" class="btn btn-info">搜索</button>
			</span>
		</div>
		
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/product/getProduct/0')";
    
    var dataColumns = [{
        field: 'productName',
        title: '产品名称'
    }, {
        field: 'productURL',
        title: '产品链接',
        formatter: function (value, row, index) {
        	var url = row.productURL;
        	
        	if(typeof url == "undefined"){
        		
        		return "-";
        	}else{
        		
        		return '<a href="'+url+'" target="_blank">'+url+'</a>';
        	}
        	
        }
    },{
        field: 'isValid',
        title: '是否农产品',
        formatter: function (value, row, index) {
            var isValid = row.isValid;
            var id = row.productInnerId;
            if(isValid==1){
            	return '<input name="checkbox" type="checkbox" value="'+isValid+'" checked="checked" onclick="audit('+id+',0)">';
            }else{
            	return '<input name="checkbox" type="checkbox" value="'+isValid+'" onclick="audit('+id+',1)">';
            }
          
        }
    }, {
        field: 'checked',
        title: '是否校验',
        formatter: function (value, row, index) {
            var checked = row.checked;
           if(checked==1){
            	return '<span style="color:#00F">已复核</span>';
            }else{
            	return '<span style="color:#F00">未复核</span>';
            }
        }
    }, {
        title: '操作',
        formatter: function (value, row, index) {
            var id = row.productInnerId;
            var isValid = row.isValid;
           
            return '<a class="btn btn-xs btn-warning" onclick="audit(' + "'" + id + "','" +isValid+"'"+ ')"><i class="fa fa-pencil"></i>复核</a> ';
           
        }
    }
    ];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }

	function Search(){
		var select1Name=$("#select1").val();
		var select2Name=$("#select2").val();
		var select3Name=$("#select3").val();
		var select4Name=$("#select4").val();
		if(select1Name=="请选择"){
			var word=$("#word").val();
			var checkedNum=-1;
			var opt;
			if($("#unchecked").is(":checked")&&!$("#checked").is(":checked")){
				checkedNum=0;
				opt = {
		    	        url: "#springUrl('/product/getProductSearchList.html?word="+word+"&checkedNum="+checkedNum+"')"
		    	    };
			}
			else if(!$("#unchecked").is(":checked")&&$("#checked").is(":checked")){
				checkedNum=1;
				opt = {
		    	        url: "#springUrl('/product/getProductSearchList.html?word="+word+"&checkedNum="+checkedNum+"')"
		    	    };
			}else{
				opt = {
		    	        url: "#springUrl('/product/getProductSearchList.html?word="+word+"&checkedNum="+checkedNum+"')"
		    	    };
			}
			$("#dataTable").bootstrapTable('refresh', opt);
		}
	}

	$("#select1").change(function(){
		var levelName1=$("#select1").val();
		var levelName2=$("#select2").val();
		var levelName3=$("#select3").val();
		var levelName4=$("#select4").val();
		var opt1;
		var checkedNum=-1;
		if($("#unchecked").is(":checked")&&!$("#checked").is(":checked")){
			checkedNum=0;
		}
		else if(!$("#unchecked").is(":checked")&&$("#checked").is(":checked")){
			checkedNum=1;
		}
		if(levelName1!="请选择"){
			$.ajax({
		        type: "POST",
		        url: "#springUrl('/threeClassification/level1List?level0="+levelName1+"')",
		        datatype: "json",
		        success: function (data) {
		        	$("#select2").html("");
		        	var level1Str="<option value='请选择'>请选择</option>";
		        	for(var i=0;i<data.length;i++){
		        		level1Str+='<option value="'+data[i].level1+'">'+data[i].level1+'</option>';
		        	}
		        	$("#select2").append(level1Str);
		        }
		    }); 
			opt1 = {
	    	        url: "#springUrl('/product/getLevelList.html?level0="+levelName1+"&level1="+levelName2+"&level2="+levelName3+"&level3="+levelName4+"&checkedNum="+checkedNum+"')"
	    	    };
		}else{
			opt1 = {
	    	        url: "#springUrl('/product/getLevelList.html?level0="+levelName1+"&level1="+levelName2+"&level2="+levelName3+"&level3="+levelName4+"&checkedNum="+checkedNum+"')"
	    	    };
		}
		$("#dataTable").bootstrapTable('refresh', opt1);
		
	});
	$("#select2").change(function(){
		var levelName2=$("#select2").val();
		
	});
	$("#select3").change(function(){
		var levelName3=$("#select3").val();
		
	});
	
	$.ajax({
        type: "POST",
        url: "#springUrl('/threeClassification/level0List')",
        datatype: "json",
        success: function (data) {
        	var level1Str="";
        	for(var i=0;i<data.length;i++){
        		level1Str+='<option value="'+data[i].level0+'">'+data[i].level0+'</option>';
        	}
        	$("#select1").append(level1Str);
        }
    }); 


function selectCheck(){
	
	if($("#unchecked").is(":checked")&&!$("#checked").is(":checked")){
		var dataUrl="#springUrl('/product/getProduct/0')";
		$('#dataTable').bootstrapTable('refresh',{url:dataUrl});
	}
	else if(!$("#unchecked").is(":checked")&&$("#checked").is(":checked")){
		var dataUrl="#springUrl('/product/getProduct/1')";
		$('#dataTable').bootstrapTable('refresh',{url:dataUrl});
	}
	else{
		var dataUrl="#springUrl('/product/getProductList')";
		$('#dataTable').bootstrapTable('refresh',{url:dataUrl});
	}	
		
}

</script>
#end
#extends("/common/framework.html")
