#override("title")
SpringWind - 任务管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><strong>项目管理</strong></li><li class="active"><strong>任务管理</strong></li>
#end
#override("content")
<div class="row">
	<div class="ibox-content form-inline" style="background: #F3F3F4;">
		<div class="pull-left">
			<button class="btn btn-primary" onclick="editProjectTask(null)" type="button">
			<i class="fa fa-pencil"></i>&nbsp;添加任务</button>
		</div>
		<div class="pull-left" style="margin-left:5px">
			<button class="btn btn-primary" onclick="editProjectsTask(null)" type="button">
			<i class="fa fa-pencil"></i>&nbsp;批量添加</button>
		</div>
		<div class="input-group pull-right">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button type="button" class="btn btn-info">搜索</button>
			</span>
		</div>
		<input type="hidden" class="form-control" id="projectID" name="projectID" value="$!{projectID}">
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
	var projectID=$("#projectID").val();
    var dataUrl = "#springUrl('/projectTask/getProjectTaskList.html?projectID="+projectID+"')";
    var dataColumns = [{
        field: 'taskId',
        title: '任务Id'
    }, {
        field: 'url',
        title: '任务地址'
    }, {
        field: 'dataObj',
        title: '数据对象'
    }, {
        field: 'projectId',
        title: '所属项目Id'
    }, {
        field: 'website',
        title: '网站名'
    }, {
        field: 'keyword',
        title: '关键字'
    }, {
        title: '操作',
        formatter: function (value, row, index) {
            var taskId = row.taskId;
            return '<a class="btn btn-xs btn-warning" onclick="editProjectTask(' + "'" + taskId + "'" + ')"><i class="fa fa-pencil"></i>编辑</a> '
            		+ '<a class="btn btn-xs btn-danger" onclick="delProjectTask(' + "'" + taskId + "'" + ')"><i class="fa fa-remove"></i>删除</a> '
                    ;
        }
    }
    ];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }
    function delProjectTask(taskId) {
        //询问框
        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "#springUrl('/projectTask/delProjectsTask/')"+taskId,
                datatype: "text",
                success: function (data) {
                    if(data == 'true'){
                        $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                    }
                    layer.closeAll();
                }
            });
        }, function () {
            return;
        });
    }
	function editProjectTask(taskId){
	   	var title = "新增任务";
	   	var projectID=$("#projectID").val();
	   	var url ="#springUrl('/projectTask/edit.html')"+"?projectID="+projectID;
	   	if(taskId!=null){
	   		title = "编辑任务";
	   		url = url + "&taskId=" + taskId;
	   	}
	    layer.open({
	        type: 2,
	        title: title,
	        shadeClose: true,
	        shade: 0.8,
	        area: ['600px', '430px'],
	        fix: false,
	        maxmin: true,
	        content: url
	    });
	}
	function editProjectsTask(taskId){
	   	var title = "批量添加";
	   	var projectID=$("#projectID").val();
	   	var url = "#springUrl('/projectTask/edits.html')"+"?projectID="+projectID;
	    layer.open({
	        type: 2,
	        title: title,
	        shadeClose: true,
	        shade: 0.8,
	        area: ['600px', '430px'],
	        fix: false,
	        maxmin: true,
	        content: url
	    });
	}
</script>
#end
#extends("/common/framework.html")
