#override("title")
SpringWind - 项目管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
<link href="#springUrl('/static/css/metroStyle.css')" rel="stylesheet">
<link href="#springUrl('/static/css/customer.css')" rel="stylesheet">
<style type="text/css">
.ztree * {
font-size:17px;
}
.ztree li {
line-height:23px;
}
td{
width:100px;
font-family:Microsoft YaHei;
}
</style>
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><a>农产品维护</a></li>
#end
#override("content")
<div class="panel panel-default col-lg-11" style="padding:0px;margin:20px 50px 80px 50px">
    <div class="panel-heading" style="height:45px;background:#337ab7">
	        <span class="pull-left" style="margin:0px 0px 2px 10px;color:#fff;font-size:20px">
	            	农产品维护
	        </span>
	        <div class="pull-right">
	        	<div style="margin:0px 10px 0px 0px;float:left">
		        	<button type="button" class="btn btn-primary" style="padding:2px 6px 3px 6px;background-color: #003399" onClick="addLog()">添加日志</button>
		        </div>
	        	<div style="margin:0px 10px 0px 0px;float:left">
		        	<button type="button" class="btn btn-primary" style="padding:2px 6px 3px 6px;background-color: #003399" onClick="transformTable()">转为表</button>
		        </div>
	        	<div style="margin:0px 10px 0px 0px;float:left">
		        	<button type="button" class="btn btn-primary" style="padding:2px 6px 3px 6px;background-color: #003399" onClick="copyTable()">备份</button>
		        </div>
	        	<div style="margin:0px 10px 0px 0px;float:left">
		        	<button type="button" class="btn btn-primary" style="padding:2px 6px 3px 6px;background-color: #003399" onClick="restoreTable()">还原</button>
		        </div>
			</div>
	        <div class="pull-right">
	        	<div style="margin:0px 20px;float:left">
		        	<span class="glyphicon glyphicon-refresh" onClick="reFresh()" title="刷新" style="font-size:20px"></span>
		        </div>
			</div>
    </div>
    <div class="panel-body" style="height:100%;border-top:2px solid #00FF7F">
    	<table class="table table-bordered" style="width:1100px;margin-left: 26px;margin-bottom:0px">
    		<tbody>
				<tr>
					<td style="text-align: center;vertical-align: middle">修改时间</td>
					<td style="text-align: center;vertical-align: middle" id="updateTime"></td>
					<td style="text-align: center;vertical-align: middle">操作人员</td>
					<td style="text-align: center;vertical-align: middle" id="actionUser"></td>
					<td style="text-align: center;vertical-align: middle" rowspan="2">修改日志</td>
					<td style="vertical-align: middle" rowspan="2" colspan="3" id="updateLog"></td>
				</tr>
				<!-- <tr>
					<td style="text-align: center;vertical-align: middle" rowspan="2">修改日志</td>
					<td rowspan="2" colspan="3" id="updateLog"></td>
				</tr> -->
			</tbody>
		</table>
       <div id="context" data-toggle="context" data-target="#context-menu">
   		<ul id="zTreeManager" class="ztree" style="padding:10px 0px 20px 20px"></ul>
	   </div>
    </div>
</div>
<div class="modal fade" id="treeLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加日志</h4>
            </div>
            <div class="modal-body" style="padding:0px">
            	<form class="form-horizontal" id="form2">
		           <textarea class="form-control" name="content" id="content" style="padding:0px 0px 100px 0px"></textarea>
            </form>
            </div>
            <div class="modal-footer">
              <div class="pull-right" style="margin:0px 10px 10px 0px">
	              <div class="buttons">
	                <button class="btn btn-primary btn-flat" onClick="saveLog()"><i class="fa fa-save"></i>保存</button>
	                <button class="btn btn-danger btn-flat" data-dismiss="modal"><i class="fa fa-close"></i>取消</button>
	              </div>
              </div>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>  -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">添加</h4>
            </div>
            <div class="modal-body">
            	<form class="form-horizontal" id="form1">
		            <input type="hidden" id="handAction" name="handAction"/>
		            <input type="hidden" id="id" name="id"/>
		            <input type="hidden" id="pId" name="pId"/>
		            <input type="hidden" id="Leaf" name="Leaf"/>
		            <input type="hidden" id="nodeParentId" name="nodeParentId"/>
	                <div class="form-group">
	                  <label class="col-sm-3 control-label">类别名称</label>
	                  <div class="col-sm-9">
	                    <input type="text" id="categoryName" name="categoryName" class="form-control"/>
	                  </div>
	                </div>
            </form>
            </div>
            <div class="modal-footer">
              <div class="pull-right" style="margin:0px 10px 10px 0px">
	              <div class="buttons">
	                <button class="btn btn-primary btn-flat" onClick="save()"><i class="fa fa-save"></i>保存</button>
	                <button class="btn btn-danger btn-flat" onClick="cancel()" data-dismiss="modal"><i class="fa fa-close"></i>取消</button>
	              </div>
              </div>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>  -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="context-menu">
  <ul class="dropdown-menu" style="min-width:0px;width:70px" role="menu">
						<li><a href="#" data-toggle="modal" onClick="addTree()">增加</a></li>
						<li><a href="#" data-toggle="modal" onClick="delTree()">删除</a></li>
						<li><a href="#" data-toggle="modal" onClick="editTree()">编辑</a></li>
						<li><a href="#" data-toggle="modal" onClick="refreshTree()">刷新</a></li>
 </ul>
</div>

#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script src="#springUrl('/static/js/jquery.ztree.all.min.js')"></script>
<script src="#springUrl('/static/js/bootstrap-contextmenu.js')"></script>
<script src="#springUrl('/static/js/prettify.js')"></script>
<script type="text/javascript">
/* $("#editCategoey").hide(); */
 var logUrl="#springUrl('/categoryLog/selectLatestLog.html')";
    $.post(logUrl,function(result){
    	$("#updateTime").html(result.logTime1);
    	$("#actionUser").html(result.userName);
    	$("#updateLog").html(result.content);
    },"json");
var zTreeObj;
function getzTreeObject(){
   	return $.fn.zTree.getZTreeObj("zTreeManager");
   }
	var setting = {
        async: {
            enable: true,
            autoParam: ["categoryId=parentId"],
            dataType:"json",
            type:"post",
            url :"#springUrl('/categoryManager/getParentId')",
            dataFilter: ajaxDataFilter
        },
        edit: {
    		drag: {
    			isCopy: false,
    			isMove: true
    		},
    			enable: true,
    			showRemoveBtn: false,
    			showRenameBtn: false
    		},
        data: {
            key:{name:"categoryName"},
            simpleData: {
                enable: true,
                idKey: "categoryId",
                pIdKey: "parentId"
            }
        },
        view: {
            selectedMulti: true
        },
        callback: {
    		beforeDrop: zTreeBeforeDrop,
    		onDrop: zTreeOnDrop, 
    		onMouseDown: zTreeOnMouseDown
    		/* 
    		beforeRightClick: zTreeBeforeRightClick
    		onRightClick: zTreeOnRightClick */
    	}
    };
    var url="#springUrl('/categoryManager/getToolId.html')";
    
    $.post(url,function(result){
       var resourcesTree=$.fn.zTree.init($("#zTreeManager"), setting,result);
       //展开节点
       var nodes = resourcesTree.getNodes()
       if(nodes.length >0){
       resourcesTree.expandNode(nodes[0], true, false, false)
       }
    },"json");
    function ajaxDataFilter(treeId, parentNode, responseData) {
        if (responseData) {
          var url2="#springUrl('/categoryManager/getParentId.html')";
          for(var i =0; i < responseData.length; i++) {
        	  var categoryId=responseData[i].categoryId;
        	    var date={parentId:categoryId}
        	    $.ajax({
                    type: "POST",
                    url: url2,
                    datatype: "json",
                    data:date,
                    async:false,
                    success: function (result) {
                    	var nodeNum=result.length;
            	    	 responseData[i].categoryName +="  "+nodeNum;
                    }
                });
          }
        }
        return responseData;
    };
    //添加日志操作
    function addLog(){
    	$("#treeLog").modal('show');
    }
    //将树转换成表
    function transformTable(){
    	 //询问框
        layer.confirm('确定转换表吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
        	$.ajax({
                type: "POST",
                url: "#springUrl('/categoryManager/transformTable')",
                datatype: "text",
                success: function (data) {
                	var d = JSON.parse(data);
	            	
	                	var error=d.data;
	            		layer.alert(error, {
	          			  skin: 'layui-layer-molv',
	          			  closeBtn: 0
	          			});
                }
            });
            
        }, function () {
            return;
        });
    }
    //备份
    function copyTable(){
    	 //询问框
        layer.confirm('确定备份吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
        	$.ajax({
                type: "POST",
                url: "#springUrl('/categoryManager/copyTable')",
                datatype: "text",
                success: function (data) {
                	var d = JSON.parse(data);
	                	var error=d.data;
	            		layer.alert(error, {
	          			  skin: 'layui-layer-molv',
	          			  closeBtn: 0
	          			});
                }
            });
            
        }, function () {
            return;
        });
    }
    //还原
	function restoreTable(){
		 //询问框
        layer.confirm('确定还原吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
        	$.ajax({
                type: "POST",
                url: "#springUrl('/categoryManager/restoreTable')",
                datatype: "text",
                success: function (data) {
                	var d = JSON.parse(data);
	                	var error=d.data;
	            		layer.alert(error, {
	          			  skin: 'layui-layer-molv',
	          			  closeBtn: 0
	          			});
	            		var zTreeObject=$.fn.zTree.getZTreeObj("zTreeManager");
	                	var nodes = zTreeObject.getNodes()
	                    if(nodes.length >0){
	                    	zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
	                    } 
	                
                }
            });
            
        }, function () {
            return;
        });
	   }
    //添加日志
    function saveLog(){
    	var content=$("#content").val();
    	if(content==null||content==""){
    		$("#content").attr("placeholder","请输入内容");
    	}else{
    		var date=$("#form2").serialize();
        	var url="#springUrl('/categoryLog/insert')";
    		$.post(url,date,function(result){
        		var d = JSON.parse(result);
        		$("#content").removeAttr("placeholder");
        		$("#content").val("");
                if(!d.success){
            		var error=d.data;
            		layer.alert(error, {
          			  skin: 'layui-layer-molv',
          			  closeBtn: 0
          			});
                }else{
                	 $.post(logUrl,function(result){
                		 	$("#updateTime").html(result.logTime1);
                	    	$("#actionUser").html(result.userName);
                	    	$("#updateLog").html(result.content);
                	    },"json");
                	$("#treeLog").modal('hide');
                }
    	    });
    	}
    }
    //鼠标按下事件
    function zTreeOnMouseDown(event, treeId, treeNode) {
    	if(treeNode!=null){
    		var nodeParentId=treeNode.parentId;
        	$("#nodeParentId").val(nodeParentId);
    	}
    };
    //点击事件
   /*  function zTreeOnClick(event, treeId, treeNode) {
    	$("#editCategoey").hide();
    	
    } */
    //右击之前事件
   /* function zTreeBeforeRightClick(treeId, treeNode) {
	   if(treeNode==null){
		   return false;
	   }else{
		   return true;
	   }
    	
    }; */
    //鼠标右键事件
   /*  function zTreeOnRightClick(event, treeId, treeNode) {
         alert(treeNode.categoryName);
    }; */
    //拖拽之前的事件处理
    function zTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {
 	   var zTreeObject=$.fn.zTree.getZTreeObj(treeId);
 	   	var nodes=zTreeObject.getSelectedNodes();
 	   	var parentId=nodes[0].parentId;
 	    return !(targetNode == null || moveType != "inner" || !targetNode.parentId||nodes[0].level==targetNode.level||nodes[0].level-1!=targetNode.level);
 	}
    //拖拽事件处理
    function zTreeOnDrop(event, treeId, treeNodes, targetNode, moveType) {
    	if(null==targetNode){
    		return
    	}
    	var categoryId=targetNode.categoryId;
    	var parentId=$("#nodeParentId").val();
    	var length=treeNodes.length;
    	var jsonStr="{";
    		jsonStr+="pId:"+categoryId+","+"length:"+length+","+"parentId:"+parentId+",";
    	for(var i=0;i<treeNodes.length;i++){
    		jsonStr+="categoryId"+i+":"+treeNodes[i].categoryId+",";
    	}
    	var jsonStr1=jsonStr.substr(0,jsonStr.length-1);
    	jsonStr1+="}";
    	var date=eval('(' + jsonStr1 + ')');
    	var url="#springUrl('/categoryManager/updatePId')";
			$.post(url,date,function(result){
				var d = JSON.parse(result);
                if(!d.success){
                	var error=d.data;
            		layer.alert(error, {
          			  skin: 'layui-layer-molv',
          			  closeBtn: 0
          			});
                }else{
                	layer.closeAll();
                }
        		
    	    });
    	var parentId=$("#nodeParentId").val("");  
    };
    //刷新选中的节点
    function refreshTree(){
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	var selectNodeId=nodes[0];
    	zTreeObject.reAsyncChildNodes(selectNodeId, "refresh");
    }
    function addTree(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("#id").val("");
    	$("#pId").val("");
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else if(nodes[0].level==4){
    		layer.alert('已经最底层了,不能再添加啦!', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else{
    		$('#myModal').modal('show');
    		$("#handAction").val("add");
    	}  
    }
    function delTree(){
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].parentId==null){
    		layer.alert('不能删除根节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].isParent){
    		layer.alert('不能删除父节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else{
    		 //询问框
            layer.confirm('确定删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
            	var pId=-2;
        		var selectNodeParent=nodes[0].getParentNode()
        		if(nodes[0].getPreNode()==null&&nodes[0].getNextNode()==null){
        			pId=nodes[0].getParentNode().categoryId;
        			selectNodeParent.isParent=false
        			zTreeObject.updateNode(selectNodeParent)
        		}
        		 
        		var id=nodes[0].categoryId;
        		var url="#springUrl('/categoryManager/del')";
        		var date={id:id,pId:pId};
        		$.post(url,date,function(result){
            		var d = JSON.parse(result);
                    if(!d.success){
                    	var error=d.data;
	            		layer.alert(error, {
	          			  skin: 'layui-layer-molv',
	          			  closeBtn: 0
	          			});
                    }else{
                    	layer.closeAll();
                    	zTreeObject.reAsyncChildNodes(selectNodeParent, "refresh");
                    }
        	    });
            }, function () {
                return;
            });
    		 
    	} 
    	
    }
    function editTree(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("#id").val("");
    	$("#pId").val("");
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].parentId==null){
    		layer.alert('不能编辑根节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else{
    		$('#myModal').modal('show');
    		$("#handAction").val("edit");
    		var id=nodes[0].categoryId;
    		var date={id:id};
        	var url="#springUrl('/categoryManager/getById')";
        	$.post(url,date,function(result){
        		var categoryName=result.categoryName;
        		var Leaf=result.isLeaf;
        		$("#categoryName").val(categoryName);
        		$("#Leaf").val(Leaf);
        	});
    		
    	} 
    }
    function reFresh(){
    	var zTreeObject=this.getzTreeObject();
    	var nodes = zTreeObject.getNodes()
        if(nodes.length >0){
        	zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
        }
    }
    function save(){
    	var handAction=$("#handAction").val();
    	var categoryName=$("#categoryName").val();
    	if(handAction=="add"){
        	if(categoryName==null||categoryName==""){
        		$("#categoryName").attr("placeholder","请输入类型名称");
        	}else{
        		var zTreeObject=this.getzTreeObject();
            	var nodes=zTreeObject.getSelectedNodes();
            	var id=nodes[0].categoryId;
            	$("#id").val(id);
            	var date=$("#form1").serialize();
            	var url="#springUrl('/categoryManager/save')";
		            	
            	$.post(url,date,function(result){
	            		var d = JSON.parse(result);
	            		$("#categoryName").removeAttr("placeholder");
	            		$("#categoryName").val("");
		                if(!d.success){
		            		var error=d.data;
		            		layer.alert(error, {
		          			  skin: 'layui-layer-molv',
		          			  closeBtn: 0
		          			});
		                }else{
		                	$('#myModal').modal('hide');
		                	if(nodes[0].isParent==false){
		            			nodes[0].isParent=true;
		            			zTreeObject.updateNode(nodes[0]);
		            		}
		            		zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
		            		
		                }
            	    });
        		
        	}
    	}
    	if(handAction=="edit"){
        	if(categoryName==null||categoryName==""){
        		$("#categoryName").attr("placeholder","请输入类型名称");
        	}else{
        		var zTreeObject=this.getzTreeObject();
            	var nodes=zTreeObject.getSelectedNodes();
            	var id=nodes[0].categoryId;
            	var pId=nodes[0].parentId;
            	$("#id").val(id);
            	$("#pId").val(pId);
            	var date=$("#form1").serialize();
            	var url="#springUrl('/categoryManager/update')";
            	$.post(url,date,function(result){
	            		var d = JSON.parse(result);
	            		$("#categoryName").removeAttr("placeholder");
	            		$("#categoryName").val("");
		                if(!d.success){
		                	var error=d.data;
		            		layer.alert(error, {
		          			  skin: 'layui-layer-molv',
		          			  closeBtn: 0
		          			});
		                }else{
		                	$('#myModal').modal('hide');
		                	 nodes[0].categoryName=categoryName;
		                	 zTreeObject.updateNode(nodes[0]);
		            		zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
		                }
            	    });
        		
        	}
    	}
    	
    }
    function cancel(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("#id").val("");
    	$("#pId").val("");
    }
</script>
#end
#extends("/common/framework.html")
<script type="text/javascript">
$("#firstLeve1").removeClass();
$("#firstLeve2").addClass("active");
</script>
