#override("title")
SpringWind - 项目管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
<link href="#springUrl('/static/css/metroStyle.css')" rel="stylesheet">
<link href="#springUrl('/static/css/customer.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>资源管理</a></li><li class="active"><strong>类别管理</strong></li>
#end
#override("content")
<div class="panel panel-default col-lg-4" style="padding:0px;margin:20px 40px 80px 30px">
    <div class="panel-heading" style="height:56px;background:#337ab7">
	        <span class="pull-left" style="margin:2px 0px 2px 140px;color:#fff;font-size:20px">
	            	类别树
	        </span>
	        <div class="pull-right">
	        	<div style="margin:5px 20px;float:left">
		        	<span class="glyphicon glyphicon-refresh" onClick="reFresh()" title="刷新" style="font-size:20px"></span>
		        </div>
		        <div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" style="background:#00008B;width:70px" data-toggle="dropdown">操作 
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" style="min-width:0px;width:70px" role="menu">
						<li><a href="#" onClick="addTree()">增加</a></li>
						<li><a href="#" onClick="delTree()">删除</a></li>
						<li><a href="#" onClick="editTree()">编辑</a></li>
					</ul>
				</div>
			</div>
    </div>
    <div class="panel-body" style="height:300px">
       <div>
   		<ul id="zTreeManager" class="ztree"></ul>
	   </div>
    </div>
</div>
<div class="col-lg-7" id="editCategoey" style="background:#fff;padding:0px;margin:20px 0px 80px 30px">
	<div class="box box-info">
        <div class="box-header with-border" style="border-bottom:1px solid #e5e6e7;padding:8px 0px 3px 10px">
          <h3 class="box-title">添加类别</h3>
        </div>
        <div class="box-body" style="margin:15px 10px 10px 0px">
            <form class="form-horizontal" id="form1">
            <input type="hidden" id="handAction" name="handAction"/>
            <input type="hidden" id="id" name="id"/>
            <input type="hidden" id="pId" name="pId"/>
            <input type="hidden" id="Leaf" name="Leaf"/>
                <div class="form-group">
                  <label class="col-sm-2 control-label">类别名称</label>
                  <div class="col-sm-10">
                    <input type="text" id="categoryName" name="categoryName" class="form-control"/>
                  </div>
                </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">是否显示</label>
                  <div class="col-sm-10">
                    <select name="visiable" class="form-control">
                    	<option id="option1" value="1">是</option>
                    	<option id="option2" value="0">否</option>
                    </select>
                  </div>
                </div>

            </form>
          </div>
          <div class="box-footer">
            <div class="pull-right" style="margin:0px 10px 10px 0px">
              <div class="buttons">
                <button class="btn btn-primary btn-flat" onClick="save()"><i class="fa fa-save"></i>保存</button>
                <button class="btn btn-danger btn-flat" onClick="cancel()"><i class="fa fa-close"></i>取消</button>
              </div>
            </div>
          </div>
        </div>
</div>


#end
#override("js")
<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script src="#springUrl('/static/js/jquery.ztree.all.min.js')"></script>
<script type="text/javascript">
$("#editCategoey").hide();
var zTreeObj;
function getzTreeObject(){
   	return $.fn.zTree.getZTreeObj("zTreeManager");
   }
// zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
/* var setting = {
	edit: {
		drag: {
			isCopy: false,
			isMove: true
		},
			enable: true,
			showRemoveBtn: false,
			showRenameBtn: false
		},
    data: {
        simpleData: {
            enable: true
        },
    },
    callback: {
		beforeDrop: zTreeBeforeDrop
	}
};
// zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
var nodes = [
    {id:1, pId:0, name: "父节点1"},
    {id:11, pId:1, name: "子节点1"},
    {id:12, pId:1, name: "子节点2"},
    {id:13, pId:11, name: "子节点3"},
    {id:14, pId:11, name: "子节点4"},
    {id:15, pId:12, name: "子节点5"},
    {id:16, pId:12, name: "子节点6"},
    {id:17, pId:12, name: "子节点7"},
    {id:18, pId:13, name: "子节点8"},
    {id:19, pId:14, name: "子节点9"},
    {id:20, pId:15, name: "子节点10"},
    {id:21, pId:16, name: "子节点11"}
];
   zTreeObj = $.fn.zTree.init($("#zTreeManager"), setting, nodes);
   function getzTreeObject(){
   	return $.fn.zTree.getZTreeObj("zTreeManager");
   }
   function zTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {
	   var zTreeObject=$.fn.zTree.getZTreeObj(treeId);
	   	var nodes=zTreeObject.getSelectedNodes();
	   	var pId=nodes[0].pId;
	    return !(targetNode == null || moveType != "inner" || !targetNode.pId||nodes[0].level==targetNode.level||nodes[0].level-1!=targetNode.level);
	} */
	var setting = {
        async: {
            enable: true,
            autoParam: ["categoryId=parentId"],
            dataType:"json",
            type:"post",
            url :"#springUrl('/categoryManager/getParentId')"
        },
        edit: {
    		drag: {
    			isCopy: false,
    			isMove: true
    		},
    			enable: true,
    			showRemoveBtn: false,
    			showRenameBtn: false
    		},
        data: {
            key:{name:"categoryName"},
            simpleData: {
                enable: true,
                idKey: "categoryId",
                pIdKey: "parentId"
            }
        },
        view: {
            selectedMulti: false
        },
        callback: {
    		beforeDrop: zTreeBeforeDrop
    	}
    };
    var url="#springUrl('/categoryManager/getToolId.html')";
    
    $.post(url,function(result){
       var resourcesTree=$.fn.zTree.init($("#zTreeManager"), setting,result);
       //展开节点
       var nodes = resourcesTree.getNodes()
       if(nodes.length >0){
       resourcesTree.expandNode(nodes[0], true, false, false)
       }
    },"json"); 
    function zTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {
 	   var zTreeObject=$.fn.zTree.getZTreeObj(treeId);
 	   	var nodes=zTreeObject.getSelectedNodes();
 	   	var pId=nodes[0].pId;
 	    return !(targetNode == null || moveType != "inner" || !targetNode.pId||nodes[0].level==targetNode.level||nodes[0].level-1!=targetNode.level);
 	}
    function addTree(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("option").removeAttr("selected");
		$("#id").val("");
    	$("#pId").val("");
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else if(nodes[0].level==3){
    		layer.alert('已经最底层了,不能再添加啦!', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else{
    		$("#editCategoey").show();
    		$("#handAction").val("add");
    	} 
    }
    function delTree(){
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].parentId==null){
    		layer.alert('不能删除根节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].isParent){
    		layer.alert('不能删除父节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else{
    		 //询问框
            layer.confirm('确定删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
            	var pId=-2;
        		var selectNodeParent=nodes[0].getParentNode()
        		if(nodes[0].getPreNode()==null&&nodes[0].getNextNode()==null){
        			pId=nodes[0].getParentNode().categoryId;
        			selectNodeParent.isParent=false
        			zTreeObject.updateNode(selectNodeParent)
        		}
        		 
        		var id=nodes[0].categoryId;
        		var url="#springUrl('/categoryManager/del')";
        		var date={id:id,pId:pId};
        		$.post(url,date,function(result){
            		var d = JSON.parse(result);
                    if(!d.success){
                    	var error=d.data;
	            		layer.alert(error, {
	          			  skin: 'layui-layer-molv',
	          			  closeBtn: 0
	          			});
                    }else{
                    	layer.closeAll();
                    	zTreeObject.reAsyncChildNodes(selectNodeParent, "refresh");
                    }
        	    });
            }, function () {
                return;
            });
    		 
    	} 
    	
    }
    function editTree(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("option").removeAttr("selected");
		$("#id").val("");
    	$("#pId").val("");
    	var zTreeObject=this.getzTreeObject();
    	var nodes=zTreeObject.getSelectedNodes();
    	if(nodes.length===0){
    		layer.alert('请选择节点', {
  			  skin: 'layui-layer-molv',
  			  closeBtn: 0
  			});
    	}else if(nodes[0].parentId==null){
    		layer.alert('不能编辑根节点', {
    			  skin: 'layui-layer-molv',
    			  closeBtn: 0
    			});
    	}else{
    		$("#editCategoey").show();
    		$("#handAction").val("edit");
    		var id=nodes[0].categoryId;
    		var date={id:id};
        	var url="#springUrl('/categoryManager/getById')";
        	$.post(url,date,function(result){
        		var categoryName=result.categoryName;
        		var Leaf=result.isLeaf;
        		$("#categoryName").val(categoryName);
        		$("#Leaf").val(Leaf);
        		if(result.visiable==1){
        			$("#option1").attr("selected","selected");
        		}else{
        			$("#option2").attr("selected","selected");
        		}
        	});
    		
    	} 
    }
    function reFresh(){
    	var zTreeObject=this.getzTreeObject();
    	var nodes = zTreeObject.getNodes()
        if(nodes.length >0){
        	zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
        }
    }
    function save(){
    	var handAction=$("#handAction").val();
    	var categoryName=$("#categoryName").val();
    	if(handAction=="add"){
        	if(categoryName==null||categoryName==""){
        		$("#categoryName").attr("placeholder","请输入类型名称");
        	}else{
        		var zTreeObject=this.getzTreeObject();
            	var nodes=zTreeObject.getSelectedNodes();
            	var id=nodes[0].categoryId;
            	$("#id").val(id);
            	var date=$("#form1").serialize();
            	var url="#springUrl('/categoryManager/save')";
		            	
            	$.post(url,date,function(result){
	            		var d = JSON.parse(result);
	            		$("#categoryName").removeAttr("placeholder");
	            		$("#categoryName").val("");
	            		$("option").removeAttr("selected");
	            		$("#editCategoey").hide();
		                if(!d.success){
		            		var error=d.data;
		            		layer.alert(error, {
		          			  skin: 'layui-layer-molv',
		          			  closeBtn: 0
		          			});
		                }else{
		                	if(nodes[0].isParent==false){
		            			nodes[0].isParent=true;
		            			zTreeObject.updateNode(nodes[0]);
		            		}
		            		zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
		                }
            	    });
        		
        	}
    	}
    	if(handAction=="edit"){
        	if(categoryName==null||categoryName==""){
        		$("#categoryName").attr("placeholder","请输入类型名称");
        	}else{
        		var zTreeObject=this.getzTreeObject();
            	var nodes=zTreeObject.getSelectedNodes();
            	var id=nodes[0].categoryId;
            	var pId=nodes[0].parentId;
            	$("#id").val(id);
            	$("#pId").val(pId);
            	var date=$("#form1").serialize();
            	var url="#springUrl('/categoryManager/update')";
            	$.post(url,date,function(result){
	            		var d = JSON.parse(result);
	            		$("#categoryName").removeAttr("placeholder");
	            		$("#categoryName").val("");
	            		$("option").removeAttr("selected");
	            		$("#editCategoey").hide();
		                if(!d.success){
		                	var error=d.data;
		            		layer.alert(error, {
		          			  skin: 'layui-layer-molv',
		          			  closeBtn: 0
		          			});
		                }else{
		                	 nodes[0].categoryName=categoryName;
		                	 zTreeObject.updateNode(nodes[0]);
		            		zTreeObject.reAsyncChildNodes(nodes[0], "refresh");
		                }
            	    });
        		
        	}
    	}
    	
    }
    function cancel(){
    	$("#handAction").val("");
    	$("#categoryName").removeAttr("placeholder");
		$("#categoryName").val("");
		$("option").removeAttr("selected");
		$("#id").val("");
    	$("#pId").val("");
    	$("#editCategoey").hide();
    }
</script>
#end
#extends("/common/framework.html")
