<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                    <img alt="image" class="img-circle" src="#springUrl('/static/img/profile_small.jpg')" />
                     </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">$!{currentUser.loginName}</strong>
                     </span> <span class="text-muted text-xs block">设置<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#springUrl('/perm/user/setAvatar.html')">修改头像</a></li>
                        <li><a href="profile.html">个人资料</a></li>
                        <li><a href="contacts.html">联系我们</a></li>
                        <li><a href="mailbox.html">信箱</a></li>
                        <li class="divider"></li>
                        <li><a href="#springUrl('/account/logout.html')">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">SW</div>
            </li>
            
            <li class='active'>
                <a href="#">
                	<i ></i>
                	<span class="nav-label">农电商数据采集</span>
                	<span class="fa arrow"></span>
               	</a>
               	<ul class="nav nav-second-level">
                     <li class='active'><a href="">原始数据复核</a></li>
                    <li class='active'><a href="#springUrl('/product/list')">产品基本数据复核</a></li>
                     <li class='active'><a href="">产品销售数据复核</a></li>
                    <li class='active'><a href="#springUrl('/category/list')">三级类别管理</a></li>
                    <li class='active'><a href="#springUrl('/categoryManager/manager')">农产品类别管理</a></li>
                    <li class='active'><a href="#springUrl('/keyword/list')">关键字管理</a></li>
                    <li class='active'><a href="#springUrl('/project/list')">采集项目管理</a></li>
                    <li class='active'><a href="#springUrl('/allProjectTask/defultProjectTaskInfo')">采集总任务统计</a></li>
                </ul>
            </li>
 			<li >
                <a href="#">
                	<i ></i>
                	<span class="nav-label">农电商数据报表</span>
                	<span class="fa arrow"></span>
               	</a>
               	<ul class="nav nav-second-level">
                     <li class='active'><a href="">采集平台清单</a></li>
                    <li class='active'><a href="">重庆本土网店清单</a></li>
                     <li class='active'><a href="">阿里平台月度销售情况</a></li>
                    <li class='active'><a href="">天猫月度单品20强</a></li>
                    <li class='active'><a href="">淘宝月度单品20强</a></li>
                    <li class='active'><a href="">每日采集报表</a></li>
                    <li class='active'><a href="">项目管理</a></li>
                    <li class='active'><a href="">项目任务统计</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
