<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.edu.ebmis.mapper.ProductBaseInfoMapper">

    
    <!-- 定义的resultMap，可以解决类的属性名和数据库列名不一致的问题-->
  <resultMap id="BaseResultMap" type="com.cqu.edu.ebmis.domain.ProductBaseInfoDO">
    <id column="productInnerId" jdbcType="BIGINT" property="productInnerId" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="productName" jdbcType="VARCHAR" property="productName" />
    <result column="productURL" jdbcType="VARCHAR" property="productURL"/>
    <result column="singleKeyword" jdbcType="VARCHAR" property="keyword" />
    <result column="isValid" jdbcType="INTEGER" property="isValid" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
  </resultMap>
  <sql id="Base_Column_List" >
    productInnerId, platform, productName, productURL,singleKeyword, isValid, checked 
  </sql>
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_baseinfo
    where productInnerId = #{productInnerId,jdbcType=BIGINT}
  </select>
  

  <select id="selectAllProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_baseinfo  
    order by extractTime
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_baseinfo
    where productInnerId = #{productInnerId,jdbcType=BIGINT}
  </delete>
  

  
  <update id="update" parameterType="com.cqu.edu.ebmis.domain.ProductBaseInfoDO" >
    update product_baseinfo
    set isValid = #{isValid,jdbcType=INTEGER},
    checked = #{checked,jdbcType=INTEGER}
    where productInnerId = #{productInnerId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    * 
    from product_baseinfo  
    order by extractTime
    limit #{offset},#{size}
  </select>
  <!-- 初始页搜索 -->
  <select id="selectAllSearchProduct" resultMap="BaseResultMap">
    select
    * 
    from product_baseinfo where productName like #{word} or platform like #{word} or singleKeyword like #{word}
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if>
    order by extractTime
    limit #{offset},#{size}
  </select>
  <!-- 初始页搜索的条数 -->
  <select id="selectAllSearchProductNum" resultType="int">
    select
    count(*) 
    from product_baseinfo where productName like #{word} or platform like #{word} or singleKeyword like #{word}
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if>
    order by extractTime
  </select>
  
   <select id="selectAllCount" resultType="int">
    select
    count(*) 
    from product_baseinfo  
  </select>
  
  <select id="selectCheckedByPage" resultMap="BaseResultMap">
  	select 
  	* 
  	from product_baseinfo
  	where checked=#{checked,jdbcType=INTEGER}
  	order by extractTime
    limit #{offset},#{size}
  </select>
  
  <select id="selectCheckedCount" resultType="int"  parameterType="java.lang.Integer">
 	select
    count(*) 
    from product_baseinfo  
    where checked=#{checked,jdbcType=INTEGER}
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from product_baseinfo
    where 1=1
    	<if test="checked!=null"> and checked=#{checked}</if> 
    	<if test="isValid!=null"> and isValid=#{isValid}</if>  
        <if test="platform!=null"> and platform=#{platform}</if>  
        <if test="keyword!=null"> and singleKeyword=#{keyword}</if>  
        <if test="key!=null"> and (productName like CONCAT('%',#{key},'%') or singleKeyword like CONCAT('%',#{key},'%'))</if>  
        <if test="categoryCode!=null"> and categoryCode in <foreach collection="categoryCode"  item="item" index="index" open="(" separator="," close=")">#{item}</foreach> 
        </if>  
        <if test="size!=null"> limit #{size}</if><if test="size!=null and offset!=null">, #{offset}</if>  
       
  </select>
  
  <select id="selectCount" resultType="int"  parameterType="java.util.HashMap">
 	select 
    count(*)
    from product_baseinfo
    where 1=1
    	<if test="checked!=null"> and checked=#{checked}</if> 
    	<if test="isValid!=null"> and isValid=#{isValid}</if>  
        <if test="platform!=null"> and platform=#{platform}</if>  
        <if test="keyword!=null"> and singleKeyword=#{keyword}</if>  
        <if test="key!=null"> and (productName like CONCAT('%',#{key},'%') or singleKeyword like CONCAT('%',#{key},'%'))</if>  
        <if test="categoryCode!=null"> and categoryCode in <foreach collection="categoryCode"  item="item" index="index" open="(" separator="," close=")">#{item}</foreach> 
        </if>  
  </select>
 <!-- 层级分页查找全部商品-->
  <select id="getLevelList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM product_baseinfo WHERE 1=1 <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and platform=#{platform}</if><if test="level0!='请选择'"> and singleKeyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if> order by extractTime limit #{offset},#{size}
  </select>
 <!-- 层级分页查找全部商品-->
  <select id="getLevelListNum" resultType="int">
    SELECT count(productInnerId) FROM product_baseinfo WHERE 1=1 <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and platform=#{platform}</if><if test="level0!='请选择'"> and singleKeyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if>
  </select>
 <!-- 层级分页搜索查找商品-->
  <select id="getLevelSearchProduct" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM product_baseinfo WHERE ( productName like #{word} or singleKeyword like #{word})
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and platform=#{platform}</if><if test="level0!='请选择'">and singleKeyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if> order by extractTime limit #{offset},#{size}
  </select>
 <!-- 层级分页查找全部商品-->
  <select id="getLevelSearchProductNum" resultType="int">
    SELECT count(productInnerId) FROM product_baseinfo WHERE (productName like #{word} or singleKeyword like #{word})
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and platform=#{platform}</if><if test="level0!='请选择'"> and singleKeyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if>
  </select>
  

</mapper>

