<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.edu.ebmis.mapper.ReportMapper">

   <update id="updateOriginData" parameterType="java.util.HashMap">
	update data2 set isValid=#{isValid,jdbcType=INTEGER},checked=1,userName=#{userName,jdbcType=VARCHAR} where dataID=#{dataID,jdbcType=INTEGER}
   </update>
   <select id="getOriginData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    select 
    dataID,productInnerId,productActualID,website,productName,errorInfo,keyword,productURL,productDescription,shelveDate,weight,origin,province,city,category,specialtyCategory,brand,factoryName,factoryAddress,series,specification,deliveryStartArea,productPrice,productPromPrice,monthSaleCount,commentCount,storeActualID,storeName,storeURL,shopkeeper,companyName,storeLocation,expirationDay,produceDay,category1,category2,category3,goodCommentCount,midCommentCount,badCommentCount,SaleCount,pictureCommentCount,additionCommentCount,extractTime,TaskDataID,isValid,checked,userName
    from data2 WHERE ( productName like #{word} or keyword like #{word} or userName like #{word})
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and website=#{platform}</if><if test="level0!='请选择'">and keyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if>
    order by dataID desc
    <if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="getOriginDataCount" resultType="int" parameterType="java.util.HashMap">
    select
    count(dataID)
    from data2 WHERE ( productName like #{word} or keyword like #{word} or userName like #{word})
    <if test="checkedNum!=-1"> and checked=#{checkedNum}</if><if test="platform!='请选择'"> and website=#{platform}</if><if test="level0!='请选择'">and keyword IN 
    (SELECT 三级 FROM threeclassificationtable WHERE 1=1 <if test="level0!='请选择'"> and 零级=#{level0}</if><if test="level1!='请选择'"> and 一级=#{level1}</if>
    <if test="level2!='请选择'"> and 二级=#{level2}</if><if test="level3!='请选择'"> and 三级=#{level3}</if>)</if>   
  </select>
 
 
  <select id="getCQLocalStore" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  select `a`.`storeinnerid` ,`a`.`storeactualid` ,`a`.`storeURL` ,`a`.`stor_platform` ,`a`.`storeName`,IFNULL(`b`.`companyName`,'无') companyName,`a`.`store_salse` 
  ,`a`.`sum(a.monthSaleCount)` AS counts  ,a.sku  from (`店铺季度销售排行` `a` join `store_baseinfo` `b`) where ((`a`.`loc_province` = '重庆') and 
  (`a`.`storeinnerid` = `b`.`storeInnerId`)) order by `a`.`store_salse` desc <if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
  <select id="getCQLocalStoreCount" resultType="int">
    select count(*) from (`店铺季度销售排行` `a` join `store_baseinfo` `b`) where ((`a`.`loc_province` = '重庆') and 
  (`a`.`storeinnerid` = `b`.`storeInnerId`)) order by `a`.`store_salse` desc
  </select>
  <select id="AliClassifyData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	SELECT <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,a.platform,a.一级,a.`销售额`,a.`销售额`/b.`销售额` as 销售额占比,a.sku,a.sku/b.sku as SKU占比 from
	(select a.platform,b.一级, round(sum(std_price*monthSaleCount),2) as 销售额 ,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and (a.platform='TaoBao' or a.platform='Tmall')  <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if>
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId
	group by a.platform,b.一级) a,
	(select a.platform,round(sum(std_price*monthSaleCount),2) as 销售额,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and (a.platform='TaoBao' or a.platform='Tmall')  <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if>
	and a.productInnerId=c.productInnerId
	group by a.platform)b
	where a.platform=b.platform
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
  <select id="AliClassifyCount" resultType="int" parameterType="java.util.HashMap">
    select count(*) from (SELECT a.platform,a.一级,a.`销售额`,a.`销售额`/b.`销售额` as 销售额占比,a.sku,a.sku/b.sku as SKU占比 from
	(select a.platform,b.一级, round(sum(std_price*monthSaleCount),2) as 销售额 ,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and (a.platform='TaoBao' or a.platform='Tmall')  <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if>
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId
	group by a.platform,b.一级) a,
	(select a.platform,round(sum(std_price*monthSaleCount),2) as 销售额,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and (a.platform='TaoBao' or a.platform='Tmall')  <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if>
	and a.productInnerId=c.productInnerId
	group by a.platform)b
	where a.platform=b.platform) e
  </select>
  <select id="TmMonthProductData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,a.productInnerId,a.productName as 产品名称,a.singleKeyword as 产品类别,sum(monthSaleCount) as 销售量,
	std_price as 价格, sum(std_price*monthSaleCount) as 销售额,c.storeName as 所属店铺 from product_baseinfo a ,productmonitor b,store_baseinfo c
	where a.isValid=1 and a.loc_province='重庆' and  a.platform='Tmall' <if test="productYear!=null and productMonth==null"> AND b.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND b.year=#{productYear} AND b.monthOfYear=#{productMonth}</if> 
	 and a.productInnerId=b.productInnerId and  a.storeInnerId=c.storeInnerId 
	GROUP BY a.productInnerId
	ORDER BY 销售额  desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
  <select id="TbMonthProductData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,a.productInnerId,a.productName as 产品名称,a.singleKeyword as 产品类别,sum(monthSaleCount) as 销售量,
	std_price as 价格, sum(std_price*monthSaleCount) as 销售额,c.storeName as 所属店铺 from product_baseinfo a ,productmonitor b,store_baseinfo c
	where a.isValid=1 and a.loc_province='重庆' and  a.platform='TaoBao' <if test="productYear!=null and productMonth==null"> AND b.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND b.year=#{productYear} AND b.monthOfYear=#{productMonth}</if>  
	 and a.productInnerId=b.productInnerId and  a.storeInnerId=c.storeInnerId 
	GROUP BY a.productInnerId
	ORDER BY 销售额  desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
  <select id="allProductNumData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,a.platform,count(*) as 数量 from product_baseinfo a,
	(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if>) b 
	WHERE a.isValid=1 and a.productInnerId=b.productInnerId
	GROUP BY a.platform
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="allProductNumCount" parameterType="java.util.HashMap" resultType="int">
    select count(*) from (select count(*) from product_baseinfo a,
	(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if>) b 
	WHERE a.isValid=1 and a.productInnerId=b.productInnerId
	GROUP BY a.platform) c
  </select>
  
  <select id="CQFarmProductNumData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,a.platform,count(*) as 数量 from product_baseinfo a,
	(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if> )b 
	WHERE a.isValid=1 and a.loc_province='重庆' and a.productInnerId=b.productInnerId
	GROUP BY a.platform
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="CQFarmProductNumCount" resultType="int" parameterType="java.util.HashMap">
    select count(*) from (select count(*) as 数量 from product_baseinfo a,
	(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if> )b 
	WHERE a.isValid=1 and a.loc_province='重庆' and a.productInnerId=b.productInnerId
	GROUP BY a.platform) c
  </select>
  
  <select id="PlatformStoreNumData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,c.platform,count(*) 数量
	from (select DISTINCT storeInnerId from product_baseinfo a ,(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if> )b
	where a.isValid=1 and a.loc_province='重庆'  
	 and a.productInnerId=b.productInnerId) a, store_baseinfo c where a.storeInnerId=c.storeInnerId 
	GROUP BY c.platform
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="PlatformStoreNumCount" resultType="int" parameterType="java.util.HashMap">
    select count(*) from (select c.platform,count(*)
	from (select DISTINCT storeInnerId from product_baseinfo a ,(select DISTINCT productInnerId from productmonitor where 1=1 <if test="productYear!=null and productMonth==null"> AND year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND year=#{productYear} AND monthOfYear=#{productMonth}</if> )b
	where a.isValid=1 and a.loc_province='重庆'  
	 and a.productInnerId=b.productInnerId) a, store_baseinfo c where a.storeInnerId=c.storeInnerId 
	GROUP BY c.platform) d
  </select>
  <select id="ClassifySystemData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select 零级,一级,二级,三级  from threeclassificationtable ORDER BY 零级,一级,二级,三级 
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="ClassifySystemCount" resultType="int">
    select count(*) from threeclassificationtable ORDER BY 零级,一级,二级,三级 
  </select>
  <select id="OneClassifyData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆'  <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId
	group by b.一级 ORDER BY 销售额（万元） desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="OneClassifyCount" resultType="int" parameterType="java.util.HashMap">
    select count(*) from (select b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆'  <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId
	group by b.一级 ORDER BY 销售额（万元） desc) d
  </select>
  <select id="FreshClassifyData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU
	 from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and b.零级='生鲜' <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId 
	group by b.一级
	ORDER BY 销售额（万元） desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="FreshClassifyCount" resultType="int" parameterType="java.util.HashMap">
   	select count(*) from (select b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU
	 from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and b.零级='生鲜' <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId 
	group by b.一级
	ORDER BY 销售额（万元） desc) c
  </select>
  <select id="NoFreshClassifyData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select <if test="productYear==null and productMonth==null">'所有' selectTime</if><if test="productYear!=null and productMonth==null">#{productYear} selectTime</if><if test="productYear!=null and productMonth!=null">CONCAT_WS(".",#{productYear},#{productMonth}) selectTime</if>,b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU
	 from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and b.零级='非生鲜' <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId 
	group by b.一级
	ORDER BY 销售额（万元） desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="NoFreshClassifyCount" resultType="int" parameterType="java.util.HashMap">
   	select count(*) from (select b.一级, round(sum(std_price*monthSaleCount)/10000,2) as 销售额（万元）,sum(monthSaleCount) as 销量 ,count(DISTINCT a.productInnerId)as SKU
	 from product_baseinfo a,threeclassificationtable b,productmonitor c
	where a.isValid=1 and a.loc_province='重庆' and b.零级='非生鲜' <if test="productYear!=null and productMonth==null"> AND c.year=#{productYear}</if><if test="productYear!=null and productMonth!=null"> AND c.year=#{productYear} AND c.monthOfYear=#{productMonth}</if> 
	and  a.singleKeyword=b.三级 and a.productInnerId=c.productInnerId 
	group by b.一级
	ORDER BY 销售额（万元） desc) e
  </select>
  <select id="CQFarmProductEveryMarketData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select stor_province,sum(totalsale) AS 销售额,sum(monthSaleCount) AS 销量 from 产品月度销售数据 group by stor_province order by 销售额 desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="CQFarmProductEveryMarketCount" resultType="int">
   	select count(*) from (select stor_province,sum(totalsale) AS 销售额,sum(monthSaleCount) AS 销量 from 产品月度销售数据 group by stor_province order by 销售额 desc) c
  </select>
  <select id="CQFarmProductEveryStoreData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select `重庆农产品各省店铺分布`.`loc_province` AS `省份`,count(`重庆农产品各省店铺分布`.`loc_province`) AS `店铺数量` from `重庆农产品各省店铺分布` group by `重庆农产品各省店铺分布`.`loc_province` 
	order by count(`重庆农产品各省店铺分布`.`loc_province`) desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="CQFarmProductEveryStoreCount" resultType="int">
   	select count(*) from (select `重庆农产品各省店铺分布`.`loc_province` AS `省份`,count(`重庆农产品各省店铺分布`.`loc_province`) AS `店铺数量` from `重庆农产品各省店铺分布` group by `重庆农产品各省店铺分布`.`loc_province` 
	order by count(`重庆农产品各省店铺分布`.`loc_province`) desc) c
  </select>
  <select id="MarketCQFarmProductStoreData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select storeActualID ,IFNULL(storeName,'无') storeName,IFNULL(shopkeeper,'无') shopkeeper,IFNULL(companyName,'无') companyName,IFNULL(loc_province,'无') loc_province,IFNULL(loc_city,'无') loc_city from 售卖重庆农产品的店铺信息
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="MarketCQFarmProductStoreCount" resultType="int">
   	select count(*) from 售卖重庆农产品的店铺信息
  </select>
  <select id="CQEveryCityStoreData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	select `a`.`area` AS `area`,count(0) AS 数量 from `store_baseinfo` `a` where (`a`.`area` is not null) group by `a`.`area` order by count(0) desc
	<if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
  </select>
   <select id="CQEveryCityStoreCount" resultType="int">
   	select count(*) from (select `a`.`area` AS `area`,count(0) AS 数量 from `store_baseinfo` `a` where (`a`.`area` is not null) group by `a`.`area` order by count(0) desc) c
  </select>
  </mapper>