<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.edu.ebmis.mapper.TaskInfoMapper">
	<resultMap id="TaskInfoResultMap" type="com.cqu.edu.ebmis.domain.TaskInfoDO">
    <result column="userTaskNum" jdbcType="INTEGER" property="userTaskNum" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <select id="findDefultAwaitTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=0 AND UNIX_TIMESTAMP(Add_Task_Time)>=(UNIX_TIMESTAMP(NOW())-#{projectExcitedPeriod,jdbcType=INTEGER})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(NOW())
  </select>
  <select id="findDefultExecutedTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=2 AND UNIX_TIMESTAMP(Add_Task_Time)>=(UNIX_TIMESTAMP(NOW())-#{projectExcitedPeriod,jdbcType=INTEGER}) AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(NOW())
  </select>
  <select id="findDefultExecutingTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=1 AND UNIX_TIMESTAMP(Add_Task_Time)>=(UNIX_TIMESTAMP(NOW())-#{projectExcitedPeriod,jdbcType=INTEGER}) 
		AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(NOW())
  </select>
  <select id="findDefultAllExecutTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND UNIX_TIMESTAMP(Add_Task_Time)>=(UNIX_TIMESTAMP(NOW())-#{projectExcitedPeriod,jdbcType=INTEGER}) AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(NOW())
  </select>
  <select id="findProjectExecutPeriod" resultType="int" parameterType="java.lang.Integer">
  	SELECT _execute_period FROM _crawler_project where _project_id=#{projectID,jdbcType=INTEGER}
  </select>
  <select id="findAwaitTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=0 AND UNIX_TIMESTAMP(Add_Task_Time)>=UNIX_TIMESTAMP(#{distributedTime,jdbcType=DATE})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(#{finishedTime,jdbcType=DATE})
  </select>
  <select id="findExecutedTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=2 AND UNIX_TIMESTAMP(Add_Task_Time)>=UNIX_TIMESTAMP(#{distributedTime,jdbcType=DATE})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(#{finishedTime,jdbcType=DATE})
  </select>
  <select id="findExecutingTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		AND a.`Status`=1 AND UNIX_TIMESTAMP(Add_Task_Time)>=UNIX_TIMESTAMP(#{distributedTime,jdbcType=DATE})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(#{finishedTime,jdbcType=DATE})
  </select>
  <select id="findAllExecutTaskNum" resultType="int" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT count(TaskInfoID) FROM taskinfo a,_crawler_project b where ProjectID=_project_id AND ProjectID=#{projectID,jdbcType=INTEGER} 
		 AND UNIX_TIMESTAMP(Add_Task_Time)>=UNIX_TIMESTAMP(#{distributedTime,jdbcType=DATE})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(#{finishedTime,jdbcType=DATE})
  </select>
  <select id="findDefultUserTaskNum" resultMap="TaskInfoResultMap" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
	SELECT IFNULL((c.userTaskNum+d.userTaskNum),0) userTaskNum,c.user_name FROM (SELECT 0 userTaskNum,user_name FROM `user` b ,taskinfo a WHERE ClientID=b.id AND a.`Status`=2 
  	 GROUP BY user_name) c LEFT JOIN (SELECT count(TaskInfoID) userTaskNum,user_name FROM `user` b ,taskinfo a WHERE ClientID=b.id AND a.`Status`=2 
  	AND ProjectID=1 AND UNIX_TIMESTAMP(Add_Task_Time)>=(UNIX_TIMESTAMP(NOW())-#{projectExcitedPeriod,jdbcType=INTEGER})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(NOW()) GROUP BY user_name) d ON c.user_name=d.user_name
  </select>
  <select id="findUserTaskNum" resultMap="TaskInfoResultMap" parameterType="com.cqu.edu.ebmis.domain.TaskInfoDO">
  	SELECT IFNULL((c.userTaskNum+d.userTaskNum),0) userTaskNum,c.user_name FROM (SELECT 0 userTaskNum,user_name FROM `user` b ,taskinfo a WHERE ClientID=b.id AND a.`Status`=2 
  	 GROUP BY user_name) c LEFT JOIN (SELECT count(TaskInfoID) userTaskNum,user_name FROM `user` b ,taskinfo a WHERE ClientID=b.id AND a.`Status`=2 
  	AND ProjectID=1 AND UNIX_TIMESTAMP(Add_Task_Time)>=UNIX_TIMESTAMP(#{distributedTime,jdbcType=DATE})
		 AND UNIX_TIMESTAMP(Add_Task_Time)&lt;=UNIX_TIMESTAMP(#{finishedTime,jdbcType=DATE}) GROUP BY user_name) d ON c.user_name=d.user_name
  </select>
</mapper>