<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.edu.ebmis.mapper.ThreeClassificationMapper">

    <!-- 定义的resultMap，可以解决类的属性名和数据库列名不一致的问题-->
    <resultMap id="ThreeClassificationResultMap" type="com.cqu.edu.ebmis.domain.ThreeClassificationDo">
    <result column="零级" jdbcType="VARCHAR" property="level0" />
    <result column="一级" jdbcType="VARCHAR" property="level1" />
    <result column="二级" jdbcType="VARCHAR" property="level2" />
    <result column="三级" jdbcType="VARCHAR" property="level3" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="loc_famous" jdbcType="INTEGER" property="locFamous" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="KeyProduct" jdbcType="INTEGER" property="keyProduct" />
    </resultMap>
   <select id="findLevel0" resultMap="ThreeClassificationResultMap">
    SELECT DISTINCT 零级  FROM threeclassificationtable 
   </select>
   <select id="findLevel1" resultMap="ThreeClassificationResultMap" parameterType="java.lang.String">
    SELECT DISTINCT 一级  FROM threeclassificationtable where 零级=#{LevelName}
   </select>
   <select id="allPlatform" resultMap="ThreeClassificationResultMap">
    SELECT DISTINCT platform FROM product_baseinfo 
   </select>
   <select id="findLevel2" resultMap="ThreeClassificationResultMap" parameterType="com.cqu.edu.ebmis.domain.ThreeClassificationDo">
    SELECT DISTINCT 二级	FROM threeclassificationtable WHERE 零级=#{level0} AND 一级=#{level1}
   </select>
   <select id="allFindLevel2" resultMap="ThreeClassificationResultMap">
    SELECT DISTINCT 二级	FROM threeclassificationtable
   </select>
   <select id="findLevel3" resultMap="ThreeClassificationResultMap" parameterType="com.cqu.edu.ebmis.domain.ThreeClassificationDo">
    SELECT 三级	FROM threeclassificationtable WHERE 零级=#{level0} AND 一级=#{level1} AND 二级=#{level2}
   </select>
   <select id="getThreeKeyWordDate" resultMap="ThreeClassificationResultMap">
    SELECT 三级,area,loc_famous,KeyProduct FROM threeclassificationtable where 三级  like #{word} <if test="locFamous!=-1"> and loc_famous=#{locFamous} </if><if test="level2!='请选择'"> and 二级=#{level2}</if> order by convert(三级 USING gbk) COLLATE gbk_chinese_ci asc
    <if test="size!=null and offset!=null"> limit #{offset},#{size}</if>
   </select>
   <select id="getThreeKeyWordNum" resultType="int">
    SELECT count(*)	FROM (SELECT 三级	FROM threeclassificationtable where 三级  like #{word} <if test="locFamous!=-1"> and loc_famous=#{locFamous} </if><if test="level2!='请选择'"> and 二级=#{level2}</if>) a
   </select>
   <update id="updateThreeKeyWord" parameterType="java.util.HashMap">
    update threeclassificationtable set loc_famous=#{locFamous,jdbcType=INTEGER}, area= #{area,jdbcType=VARCHAR},KeyProduct=#{keyProduct,jdbcType=INTEGER}
    where 三级 = #{level3,jdbcType=VARCHAR}
   </update>
   <update id="synchUpdateThreeKeyWord" parameterType="java.util.HashMap">
    update category_manager set loc_famous=#{locFamous,jdbcType=INTEGER}, area= #{area,jdbcType=VARCHAR},KeyProduct=#{keyProduct,jdbcType=INTEGER}
    where category_name = #{level3,jdbcType=VARCHAR} and isleaf=0
   </update>
</mapper>

